    /*Base Style*/

:root{
    --primary-color: #038655;
    --secondary-color: #FAA916;
    --light-color: #F3F3F3;
    --dark-color: #333;
    --max-width: 1100px;
    --category-sports: #F99500;
    --category-ent: #A66BBE ;
    --category-tech: #009CFF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--light-color);
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

p{
    margin-bottom: 0.75rem;
}

a{
    text-decoration: none;
    color: var(--dark-color);
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Staatliches', cursive;
    margin-bottom: 0.6rem;
    line-height: 1.3;
    letter-spacing: .15rem;
    word-spacing: .30rem;
}

/*Scrollbars*/

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 10px;
}

/*****************************************************************
                        UTILITY CLASSES
*****************************************************************/
.container{
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 2rem;
    overflow: hidden;
}
.card{
    background: #FFF;
    padding: 2rem;
}

.bg-light{
    background: var(--light-color);
    color: var(--dark-color);
}
.bg-dark{
    background: var(--dark-color);
    color: #fff;
}
.bg-primary{
    background: var(--primary-color);
    color: #FFF;
}
.bg-secondary{
    background: var(--secondary-color);
    color: #FFF;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h5,
.bg-dark h6{
    color: #FFF;
}

.bg-dark a,
.bg-primary a,
.bg-secondary a{
    color: #FFF;
}

.py-1{
    padding: 1.5rem 0;
}
.py-2{
    padding: 2rem 0;
}
.py-3{
    padding: 3rem 0;
}

.p-1{
    padding: 1.5rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}

.l-heading{
    font-size: 3rem;
}
.m-heading{
    font-size: 2.2rem;
}
.sm-heading{
    font-size: 1.7rem;
}

.list-li{
    padding: 0.5rem;
    border-bottom: #444 dotted 1px;
}
.list li a:hover{
    color: var(--primary-color);
}

/*****************************************************************
                            BUTTON CLASSES
*****************************************************************/

.btn{
    display: inline-block;
    border: none;
    background: var(--primary-color);
    padding: .5rem 1.5rem;
    color: #FFF;
}

.btn-primary{
    background: var(--primary-color);
}
.btn-secondary{
    background: var(--secondary-color);
}
.btn-light{
    background: var(--light-color);
    color: var(--dark-color);
}
.btn-dark{
    background: var(--dark-color);
}
.btn-block{
    display: block;
    text-align: center;
    width: 100%;
}

.btn:hover{
    opacity: 0.9;
    transition: opacity .3s;
    cursor: pointer;
}

/*****************************************************************
                            CATEGORY
*****************************************************************/

.category{
    display: inline-block;
    color: #FFF;
    font-size: .55rem;
    text-transform: uppercase;
    padding: .4rem .6rem;
    border-radius: 15px;
    margin-bottom: .5rem;
}

.category-sports{
    background: var(--category-sports);
}
.category-ent{
    background: var(--category-ent);
}
.category-tech{
    background: var(--category-tech);
}

/*****************************************************************
                            NAVBAR
*****************************************************************/

#navbar{
    background: #FFF;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 9999;
}

#navbar .container{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
}

#navbar .logo{
    width: 180px;
}

#navbar ul{
    display: flex;
    justify-content: flex-end;
}

#navbar ul li a.current{
    background: var(--primary-color);
    color: #FFF;
}

#navbar ul li a:hover{
    background: var(--light-color);
}

#navbar ul li a.current:hover{
    background: var(--dark-color);
}

#navbar .social{
    justify-self: center;
}
#navbar .social a{
    padding: .7rem;
}

.social .facebook-icon{
    color: dodgerblue;
}

/*****************************************************************
                            SHOWCASE SECTION
*****************************************************************/

#showcase{
    background: var(--dark-color);
    background-size: cover;
    color: #FFF;
    position: relative;
}

#showcase:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../images/featured.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.4;
}

#showcase .container{
    padding: 75px;
    min-height: 50vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
}

#showcase .showcase-content{
    z-index: 1;
}
#showcase .showcase-content p{
    margin: 1rem 0;
}

/*****************************************************************
                            HOME ARTICLES
*****************************************************************/

#home-articles .articles-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}
#home-articles .articles-container .card-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    grid-column: 1/span 2;
    align-items: center;
}
#home-articles .articles-container .card-grid:last-child{
    grid-column: 2/span 2;
}

/*****************************************************************
                            FOOTER
*****************************************************************/

#main-footer img{
    width: 160px;
}

#main-footer .footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
}
#main-footer .footer-container>*:last-child{
    background: #444;
    grid-column: 1/span 4;
    text-align: center;
    font-size: .75rem;
    padding: .5rem;
}
#main-footer .footer-container input[type="email"]{
    width: 100%;
    padding: .5rem;
    margin-bottom: .5rem;
} 

/*CSS FOR ABOUT.HTML*/


.page-content{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 2rem;
    margin: 2rem 0;
}

.page-content>*:first-child{
    grid-row: 1/span 3;
}

.list-1 li a:hover{
    color: #333;
}

